.page {
    width: 100vw;
    height: 100vh;
    border: 3px solid #db260f;
}

.header {
    height: 100px;
    border: 1px solid #db260f;
}

.content {
    height: 100vh;
    border: 1px solid #000000;
}

.footer {
}

.bordered {
    border: 1px solid #000;
    margin: 2px;
    padding: 4px;
}

