#page {
    padding: 20px;
    width: 1850px;
    height: 680px;
    border: 3px solid #db260f;
}

#header {
    height: 100px;
    border: 1px solid #000;
}

#content {
    height: available;
    border: 1px solid #000;
}

#footer {
    height: 200px;
    border: 1px solid #000;
}

#dev-page {
    height: 680px;
    border: 3px solid #db260f;
}

#dev-header {
    height: 100px;
    border: 1px solid #000;
}

#dev-content {
    height: available;
    border: 1px solid #000;
}

#dev-footer {
    height: 200px;
    border: 1px solid #000;
}

.bordered {
    border: 1px solid #000;
    margin: 2px;
    padding: 4px;
}

